 <!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
     <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Ex H</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a> <span class="sr-only">(current)</span></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a><span class="sr-only">(current)</span></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/systems" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Systems
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Live</a>
                          <a class="dropdown-item" href="#">Sim</a>
                        </div>
                      </li>
                    </ul>

                <ul class="navbar-nav navbar-right">
                    {% if session.logged_in %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <li class="nav-item"><a class= "btn btn-outline-primary" href="/dashboard">Dashboard</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li> 
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li> 
                        <li class="nav-item"><a class="btn btn-outline-primary" href="/dashboard">Dashboard</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>




</body>
</html>


