{%  extends "layout.html" %}
{% block body %}

<br>
<div class="jumbotron text-center">
    <h2>About</h2>
    <br>
    <p>I am a ordinary guy with fairly unordinary interests.  
        I am attracted to challenges and I have been chasing the goddess Fortuna 
        at the global financial markets for quite some time. Mostly in intraday timeframes.<br><br>

        Recently I have grown up to like coding, mostly in C++ and Python. Hindu scriptures and eastern mythology, yoga, meditation, math, healing art and
        <a href = "http://www.fluid-radio.co.uk/2009/07/channel-1/"> experimental ambient music </a> are another of my daily bread and butter.
    </p>
</div>

{% endblock %}