{% extends "layout.html" %}

{% block body %}

<br />
<div class="jumbotron text-center">
    <h1> This is so far a site in an experimental state </h1><br>
    <p class="lead"> Due the the fact that I have been involved in dicretionary derivative trading on US future markets for couple of years 
        and lately started to build automatic trading systems, I realised the need for a tool to monitor the AOS porfolio. 
      
       <br> <br> The primary goal of this website is thus to serve as a dasboard for some of the systems that are curently launched on CME or CBOT.   
        I hope I will get a better insight based upon the performance, stats and probabilities that are plotted graphically on this web.

       <br> <br> All the trading systems are written in C++. The website is build in Python. For database I use MySQL 8.0.
    </p>
</div>

{% endblock%}